---
const { faqs } = Astro.props;
---

<section class="mt-36 py-4 border-t-4 border-slate-400">
  <h2
    class="text-[2.5rem] font-semibold tracking-tight leading-normal text-transparent bg-clip-text bg-gradient-to-r from-fern-700 to-fern-500 mb-4"
  >
    Frequently Asked Questions
  </h2>

  <div class="mt-8">
    <dl class="divide-y divide-slate-200">
      {
        faqs.map((faq) => (
          <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8" id={faq.id ? faq.id : null}>
            <dt class="text-lg font-medium text-slate-700 md:col-span-4">
              {faq.q}
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-8 text-lg text-slate-500">
              <p set:html={faq.a} />
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
