---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us">
  <div class="pb-48 pt-24">
    <div class="w-full max-w-6xl mx-auto px-4 md:px-12 xl:px-0">
      <div class="grid grid-cols-1 gap-y-24">
        <div>
          <h2 class="text-2xl font-extrabold text-slate-900 sm:text-3xl">
            Customer Support</h2>
          <div class="mt-6">
            <p class="max-w-prose text-lg text-slate-500">
              If you're having a hard time buying a ticket, have questions about the courses, or need your student/developing country coupon codes, please reach out to us!
            </p>
          </div>
          <!-- Email -->
          <div class="mt-12">
            <div class="group flex items-center">
              <div class="flex-shrink-0">
                <!-- Heroicon name: outline/mail -->
                <svg class="h-6 w-6 text-slate-400 group-hover:text-violet-red-600"
                  xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
              </div>
              <div class="ml-3 text-md text-slate-700 group-hover:underline group-hover:decoration-2 group-hover:decoration-violet-red-600">
                <a href="mailto:causalinf@mixtape.consulting">causalinf@mixtape.consulting</a>
              </div>
            </div>
          </div>
        </div>


        <div>
          <h2 class="text-2xl font-extrabold text-slate-900 sm:text-3xl">
            Design Your Own Mixtape Session
          </h2>
          <div class="mt-6">
            <p class="max-w-prose text-lg text-slate-500">
              Sometimes departments and firms may prefer that I come to them. It would allow their entire department of students and others to receive intense training on their turf. And that’s also great — I’ve done dozens of those around the world. These “in person workshops” can be customized for duration and topics. Please get in touch and we can work out a plan
            </p>
          </div>
          <!-- Email -->
          <div class="mt-12">
            <div class="group flex items-center">
              <div class="flex-shrink-0">
                <!-- Heroicon name: outline/mail -->
                <svg class="h-6 w-6 text-slate-400 group-hover:text-violet-red-600"
                  xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
              </div>
              <div class="ml-3 text-md text-slate-700 group-hover:underline group-hover:decoration-2 group-hover:decoration-violet-red-600">
                <a href="mailto:causalinf@mixtape.consulting">causalinf@mixtape.consulting</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</Layout>
