<div class="w-full py-48">
  <div
    class="max-w-6xl mx-auto py-8 px-4 md:px-12 xl:px-0 grid lg:grid-cols-12 justify-center items-center lg:gap-x-12 gap-y-4 md:gap-y-0"
  >
    <div
      class="lg:col-span-5 lg:col-start-8 ml-4 mb-12 lg:mb-0 lg:ml-0 lg:mt-12"
    >
      <div class="w-[275px] lg:w-[412.5px] relative lg:mx-auto">
        <img
          class="lg:mb-0 shadow-xl rounded-xl"
          style="aspect-ratio: auto 1650 / 2550"
          src="/img/cover.webp"
          alt="Causal Inference: The Mixtape"
        />
        <div class="z-0 block">
          <div
            class="absolute -top-4 -right-12 -left-12 h-px bg-slate-900/[0.3] [mask-image:linear-gradient(to_right,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
          >
          </div>
          <div
            class="absolute -bottom-4 -right-12 -left-12 h-px bg-slate-900/[0.3] [mask-image:linear-gradient(to_right,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
          >
          </div>
          <div
            class="absolute -top-12 -bottom-12 block -left-4 w-px bg-slate-900/[0.3] [mask-image:linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
          >
          </div>
          <div
            class="absolute -top-12 -bottom-12 block -right-4 w-px bg-slate-900/[0.3] [mask-image:linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="lg:col-span-7 lg:row-start-1">
      <h2 class="text-3xl lg:text-5xl font-marker mt-6 mb-4">
        Causal Inference: The Mixtape
      </h2><p
        class="text-xl max-w-[80ch] pt-4"
      >
        <span class="text-violet-red-800 font-semibold"
          >Our founder <a
            class="text-violet-red-700 hover:text-violet-red-800 cursor-pointer underline italic"
            >Scott Cunningham</a
          > is the author of <span class="italic"
            >Causal Inference: The Mixtape</span
          >.</span
        >
        Causal inference encompasses the tools that allow social scientists to determine
        what causes what. In a messy world, causal inference is what helps establish
        the causes and effects of the actions being studied—for example, the impact
        (or lack thereof) of increases in the minimum wage on employment, the effects
        of early childhood education on incarceration later in life, or the influence
        on economic growth of introducing malaria nets in developing regions. The
        book introduces students and practitioners to the methods necessary to arrive
        at meaningful answers to the questions of causation, using a range of modeling
        techniques and coding instructions for both the R and the Stata programming
        languages.
      </p><p
        class="text-xl font-semibold max-w-[80ch] pt-4 text-violet-red-800"
      >
        You can read the entire textbook for free online <a
          class="text-violet-red-700 hover:text-violet-red-800 cursor-pointer underline italic"
          href="mixtape.scunning.com">here</a
        >. Scott also writes on a blog covering methods on <a
          class="text-violet-red-700 hover:text-violet-red-800 cursor-pointer underline italic"
          href="https://causalinf.substack.com/">substack</a
        >.
      </p>
    </div>
  </div>
</div>
