---
const { currentDate = null } = Astro.props;
---

<!-- Dates -->
<p
  class="mt-24 pt-4 border-t-2 border-slate-200 leading-normal text-4xl font-semibold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-picton-blue-700 to-picton-blue-500 mb-4"
>
  Join us, starting {currentDate}.
</p>
<p class="mt-6 block text-xl text-slate-700 tracking-tight">
  Can't make that? 
</p>
