---
import SvgLogo from "./svg/SvgLogo.astro";
---

<!-- Footer -->
<footer class="bg-slate-50 relative w-full">
  <!-- <TopInnerGlow /> -->
  <div
    class="max-w-6xl mx-auto px-4 md:px-12 xl:px-0 py-24 flex items-center justify-center">

    <div class=" text-slate-800 flex flex-col">
      <div class="mt-12 flex flex-col justify-items-end items-center">
        <SvgLogo svgClass="flex-shrink-0 mr-2 h-16 w-16" />

        <p class="w-full text-center my-8 text-slate-600">
          Copyright © 2022
          <br />
          Mixtape Consulting
        </p>
      </div>
    </div>
  </div>
</footer>
