---
import Banner from "../../components/graphics/banner"
import "../../styles/main.css"
---

<div class="w-full mt-24 bg-white flex flex-col items-center justify-center">
  <Banner client:load />
</div>
