---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ImageCreator from "../../components/graphics/ImageCreator.tsx"
---

<BaseLayout>
  <div class="w-full mt-24 bg-white flex flex-col items-center justify-center">
    <ImageCreator client:load />
  </div>
</BaseLayout>
