---
import Example from "../../components/graphics/slides"
import "../../styles/main.css"
---

<div class="w-full mt-24 bg-white flex flex-col items-center justify-center">
  <Example client:load />
</div>
