---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.css";

const { title } = Astro.props;
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
</head>

<body>
  <Nav />

  <slot></slot>

  <Footer />
</body>

</html>

